[submodule ".vim/bundle/syntastic"]
	path = .vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule ".vim/bundle/gitgutter.git"]
	path = .vim/bundle/gitgutter.git
	url = https://github.com/airblade/vim-gitgutter.git
[submodule ".vim/bundle/colorschemes"]
	path = .vim/bundle/colorschemes
	url = https://github.com/flazz/vim-colorschemes.git
[submodule ".vim/bundle/vim-pudb"]
	path = .vim/bundle/vim-pudb
	url = https://github.com/KangOl/vim-pudb.git
[submodule ".vim/bundle/ycm"]
	path = .vim/bundle/ycm
	url = git@github.com:Valloric/YouCompleteMe.git
